body {
    margin: 0 auto;
}
.zoneOne{
   background-color: #295115;
   color: #72B01D;
   height: 50px;
   font-size:x-large;
   font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
}

.photoGallery {
    /*show heigh: auto*/
    height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8f5c38;
    color: white;
    text-align: center;
}